{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Hari Ram"/>
    <title>{{ title }}</title>


    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{% static 'todo/assets/images/favicon-32x32.png' %}"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,-25&icon_names=save"/>
    {% block css %}
        <link rel="stylesheet" href="{% static 'todo/css/styles.css' %}"/>
    {% endblock %}

    <link rel="preload" href="{% static 'todo/assets/images/icon-check.svg' %}" as="image" type="image/svg+xml" crossorigin="anonymous">
</head>
<body>
<header class="card">
    <h1>TODO</h1>
    <form action="{% url 'to_do_app:logout' %}" method="post" >
        {% csrf_token %}
        <button id="theme-switcher" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#ffffff">
                <path d="M219.69-161.41q-23.41 0-40.14-16.73t-16.73-40.32v-521.67q0-23.59 16.73-40.32t40.14-16.73H480.9v32.44H219.87q-9.23 0-16.92 7.69-7.69 7.69-7.69 16.92v521.67q0 9.23 7.69 16.92 7.69 7.69 16.92 7.69H480.9v32.44H219.69ZM666.28-348.6l-23.63-22.27 92.21-92.21H368.54v-32.43h366.01l-92.2-92.21 23.11-23.5 131.72 131.98-130.9 130.64Z"/>
            </svg>
        </button>
    </form>

</header>
{% block content %}

{% endblock %}
{#    <script src="{% static 'todo/js/scripts.js' %}"></script>#}
</body>
</html>
